// Fonts
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$images: '../images/';

#name { display: none; } //trick for spam bots

$color-base: #A5A4AA;
$color-celeste: #5B9BCA;
$color-naranja: #9DBB4E;

.color-base { color: $color-base; }
.color-celeste { color: $color-celeste; }
.color-verde {color: $color-naranja;}

.width1px { width: 1px; }
.nowrap { white-space: nowrap; }
.nopad { box-sizing: border-box; -moz-box-sizing: border-box; /* Firefox */ -webkit-box-sizing: border-box; /* Safari */ }
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.vcenter-table {
    display: table;
    //height must be set in each case of use
    .vcenter-cell {
        display: table-cell;
        vertical-align: middle;
    }
}
.iblock { display: inline-block; }

* { outline: none; }
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -moz-tap-highlight-color: rgba(0, 0, 0, 0); }
a img { border: 0; }

// For seo, we must to "equalize" headings, the styles becomes with classes like colorN, upper, font-size-N, etc.
h1, h2, h3, h4 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

// Define font weights
$fw_names: regular semibold bold;
$fw_sizes: 400 600 700;
@for $i from 1 through length($fw_names) {
    $fw_name: nth($fw_names, $i);
    .font-weight-#{$fw_name} { font-weight: nth($fw_sizes, $i); }
}
// /

// Define font sizes
$fs_sizes:      60px 34px 28px 24px 22px 20px 18px 16px 15px 14px 13px 12px 10px;
$fs_ln_heights: 66px 40px 34px 30px 28px 26px 24px 22px 21px 20px 19px 18px 16px;
@for $i from 1 through length($fs_sizes) {
    .font-size-#{nth($fs_sizes, $i)} {
        font-size: nth($fs_sizes, $i);
        line-height: nth($fs_ln_heights, $i);
    }
}

// Define extra margin & padding classes from none to lg, and from top to bottom, for example: "margin-top-lg"
$mp_names: none xs sm md lg 30px 40px 50px 60px 70px 80px 90px 100px 120px;
$mp_sizes: 0 10px 15px 20px 25px 30px 40px 50px 60px 70px 80px 90px 100px 120px;
$mp_types: top right bottom left;

@for $i from 1 through length($mp_names) {
    $mp_name: nth($mp_names, $i);

    @each $mp_type in $mp_types {
      .margin-#{$mp_type}-#{$mp_name} { margin-#{$mp_type}: nth($mp_sizes, $i) !important; }
      .padding-#{$mp_type}-#{$mp_name} { padding-#{$mp_type}: nth($mp_sizes, $i) !important; }
    }
}
// /

// Define extra text alignment classes from xs to lg
@media (min-width: $screen-sm-min) { .text-right-sm { text-align: right; } .text-left-sm { text-align: left; } .text-center-sm { text-align: center; } }
@media (min-width: $screen-md-min) { .text-right-md { text-align: right; } .text-left-md { text-align: left; } .text-center-md { text-align: center; } }
@media (min-width: $screen-lg-min) { .text-right-lg { text-align: right; } .text-left-lg { text-align: left; } .text-center-lg { text-align: center; } }
// /

@mixin i($name, $width, $height, $ext:'png') {
    background: url($images + $name + '.' + $ext) no-repeat;
    background-size: $width $height;
    display: inline-block;
    width: $width;
    height: $height;
    @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    background-image: url($images + $name + '@2x.' + $ext);
  }
}
.pagos { @include i('pagos', 180px, 45px); }
.logo-selfconta { @include i('logo-selfconta', 225px, 38px); }
.logo-selfconta-gray { @include i('logo-selfconta-gray', 125px, 23px); }
.logo-ayudatgroup-gray { @include i('logo-ayudatgroup-gray', 95px, 14px); }

.devices {
    @include i('devices', 194px, 270px);
    @media (max-width: $screen-xs-max) { display: none; }
}

.form-control {
    color: $color-base;
    font-size: 16px;
}
.help-block {
    font-size: 14px;
}

body {
    color: $color-base;
    border-top: 15px solid $color-celeste;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    background: #fff;
}

a {
    text-decoration: none;
    color: $color-base;
    @include transition(128ms);
    &:hover {
        color: $color-naranja;
        text-decoration: none;
    }
}

.include ul {
    padding: 5px 0 0 0;
    li {
        list-style: none;
        margin: 10px 0;
    }
}

.include .other {
    background: #D9F4F7;
    padding: 30px 0;
    a {
        color: $color-celeste;
        &:hover { color: $color-naranja; }
    }

    .row { padding-left: 242px; }

    @media (max-width: $screen-xs-max) {
        .row { padding-left: 0; }
        text-align: center;
    }
}

h2.step {
    border-top: 2px solid #5B9BCA;
}

.theHeader {
    margin-bottom: 80px;
    @media (max-width: $screen-sm-max) { margin-bottom: 60px; }

    .l {
        .logo-selfconta {
            position: absolute;
            margin-top: 40px;
        }
        
        @media (max-width: $screen-xs-max) {
            .logo-selfconta{
                position: inherit;
                margin: 0;
                width: 100%;
                background-position: center;
                display: block;
            }
            .logo-selfconta {
                margin-top: 30px;
            }
        }
    }

    .r {
        padding-top: 50px;
        @media (max-width: $screen-xs-max) { margin-bottom: 24px; }
    }
}

.btn {
    font-size: 15px;
    padding: 4px 14px;
    @include transition(128ms);
    &:hover { color: $color-base; }
    &.btn-gray { color: #fff; background: #d9d9d9; }
    &.btn-orange { color: #fff; background: $color-naranja; }
}

.prevnext {
    @media (max-width: $screen-xs-max) { padding-top: 20px; }
    .btn {
        color: #fff;
        font-weight: bold;
        width: 120px;
        letter-spacing: 0.05em;
        margin-top: 12px;
        padding: 4px 0;
        @include transition(128ms);
        &:hover { color: #fff; }
    }
    .prev { background: #d9d9d9; }
    .next { background: $color-naranja; }
}

.advice-info {
    .only {
        //float: left;
        //margin-left: 38px;
        @media (max-width: $screen-md-max) { }
        @media (max-width: $screen-sm-max) { }
        @media (max-width: $screen-xs-max) {
            margin-left: 0;
            display: block;
            text-align: center;
            width: 100%;
        }
    }
    .price {
        //float: left;
        background-color: $color-naranja;
        @include border-radius(50%);
        width: 180px;
        height: 180px;
        //height: 156px;
        display: inline-block;
        color: #fff;
        text-align: center;

        .price-1 { 
            font-size: 45px;
            text-align: center;
            margin-top: 20px;
        }
        .price-2 { 
            text-align: center;
            margin-top: -20px;
        }

        .mas{
            font-size: 40px;
            text-align: center;
            margin-top: -40px;
        }

        @media (max-width: $screen-xs-max) {
            //display: block;
            //left: 50%;
            position: relative;
            //margin-left: -78px;
            //margin-top: 20px;
        }
    }

    p {
        float: left;
        max-width: 260px;
        margin: 22px 0 0 30px;
        @media (max-width: $screen-sm-max) { margin-left: 120px; }
        @media (max-width: $screen-xs-max) {
            margin-left: 0;
            padding: 0 10px;
            text-align: center;
            max-width: 100%;
        }
    }
}

.bg-gray {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-left: 32%;
    margin-right: 32%;
}

.coverage-info {
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    background: #bbb;
    color: #fff;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    @include transition(128ms);
    &:hover {
        @include opacity(0.76);
    }
}

.theFooter {
    background: #fff;
    border-top: 1px solid #d8d8d8;

    .l {
        .logo-selfconta-gray {
            position: absolute;
            margin-top: 34px;
        }
        
        @media (max-width: $screen-xs-max) {
            .logo-selfconta-gray{
                position: inherit;
                margin: 0;
                width: 100%;
                background-position: center;
                display: block;
            }
            .logo-selfconta-gray {
                margin-top: 30px;
            }
        }
    }

    .r {
        .ayudatgroup {
            display: inline-block;
            margin-top: 30px;
            text-align: left;
            @media (max-width: $screen-xs-max) { text-align: center; }
        }
    }
}
